.dimension {
  height: 512px;
  width: 512px;
}

.bg {
  top: 0px;
  left: 0px;
  position: relative;
}

.overlay {
  position: absolute;
  left: 100px;
}

.randomBtn {
  height: 48px;
  width: 48px;
  position: absolute;
  left: 542px;
  top: 542px;
}

.randomBtn:hover {
  cursor: pointer;
}
