.dimension {
  height: 512px;
  width: 512px;
}

.container {
  position: relative;
  top: 0;
  left: 0;
}

.overlay {
  position: absolute;
}

.randomBtn {
  height: 48px;
  width: 48px;
  position: absolute;
  top: 454px;
  left: 454px;
}

.randomBtn:hover {
  cursor: pointer;
}

/* Media queries */
@media only screen and (min-device-width: 360px) and (max-device-width: 900px) and (orientation: portrait) {
  .dimension {
    height: 256px;
    width: 256px;
  }

  .overlay {
    left: 60px;
  }

  .randomBtn {
    height: 24px;
    width: 24px;
    left: 285px;
    top: 370px;
  }
}
