.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  align-items: center;
}

.square {
  margin: 0;
  height: 64px;
  width: 64px;
}

.squareContainer:hover {
  cursor: pointer;
}

.selected {
  border: solid 4px red;
}

.placeholder {
  border: solid 4px transparent;
}

.placeholder:hover {
  cursor: auto;
}

/* Media queries */
@media only screen and (min-device-width: 360px) and (max-device-width: 900px) and (orientation: portrait) {
  .squareContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .square {
    height: 56px;
    width: 56px;
    margin: 0;
  }
}
