.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  align-items: center;
}

.square {
  margin: 0 4px 0 0;
  height: 64px;
  width: 64px;
}

.squareContainer:hover {
  cursor: pointer;
}

.selected {
  border: solid 4px red;
}
