.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 100px 0 100px;
}

.title {
  height: 92px;
  width: 240px;
  margin-bottom: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 612px;
  margin-left: 24px;
}

.rowsContainer {
  margin-top: 16px;
  margin-bottom: 16px;
}

.button {
  width: 150px;
  height: 45px;
}

.button:hover {
  cursor: pointer;
}

.button img {
  width: 100%;
  height: 100%;
}

.downloadContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.downloadContainer p {
  color: #fefefe;
  margin: 8px 0 0 0;
  font-family: "Roboto Slab", serif;
  font-size: 12px;
}

.gender {
  width: 256px;
  height: 512px;
  margin-left: 24px;
  margin-right: 24px;
  background-color: #141740;
  border-radius: 10px;
}

.gender:hover {
  cursor: pointer;
  border: 4px solid #3f3f3f;
}

.modal {
  position: fixed;
  z-index: 2;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/images/pictures/generator-web-background-min.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.modalClose {
  display: none !important;
}

.placeholder {
  z-index: 1;
  position: fixed;
  background-color: #1d1f3e;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.mobileTitle {
  height: 92px;
  width: 240px;
  margin-bottom: 16px;
  display: none;
}

/* Media queries */
@media only screen and (min-device-width: 360px) and (max-device-width: 900px) and (orientation: portrait) {
  .modal {
    background-color: #141740;
    background-image: none;
    height: 100%;
    width: 100%;
  }

  .gender {
    width: 100px;
    height: 250px;
  }

  .App {
    flex-direction: column;
    margin: 0 24px 0 24px;
    align-items: center;
  }

  .container {
    margin-left: 0;
  }

  .title {
    display: none;
  }

  .mobileTitle {
    display: inline;
  }
}
