html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  background-image: url(./assets/images/pictures/generator-web-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#root {
  width: 100%;
}
